[submodule "module/Calypsi-m68k-Foenix"]
	path = module/Calypsi-m68k-Foenix
	url = https://github.com/hth313/Calypsi-m68k-Foenix.git
[submodule "module/Calypsi-65816-Foenix"]
	path = module/Calypsi-65816-Foenix
	url = https://github.com/hth313/Calypsi-65816-Foenix.git
